.header-red {
    position: sticky;
    top: 0px;
    background-color: #ffdddd;
  }

.header-blue {
    position: sticky;
    top: 0px;
    background-color: #87CEEB;
  }

  .header-green {
    position: sticky;
    top: 0px;
    background-color: #ddffdd
  }
